<div class="row py-4 gx-0">
    <div class="col-md-9">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img height="420" src="assets/imgs/slider1.jpg" alt=""></ng-template>  
            <ng-template carouselSlide><img height="420" src="assets/imgs/slider2.jpg" alt=""></ng-template>  
            <ng-template carouselSlide><img height="420" src="assets/imgs/slider3.jpg" alt=""></ng-template>  
          </owl-carousel-o>
    </div>
    <div class="col-md-3">
        <img height="210" src="assets/imgs/side1.png" alt="">
        <img height="210" src="assets/imgs/side2.jpg" alt="">
    </div>
</div>