<div class="w-50 mx-auto my-5">
    <h3>Shipping Address</h3>
    <form [formGroup]="shippingAddress" (ngSubmit)="handleSubmit(shippingAddress)">
        <label for="details" >details : </label>
        <input type="text" class="form-control mb-2" formControlName="details" id="details">
        <label for="phone" >phone : </label>
        <input type="tel" class="form-control mb-2" formControlName="phone" id="phone">
        <label for="city" >city : </label>
        <input type="text" class="form-control mb-2" formControlName="city" id="city">
        <button class="btn bg-main text-white" type="submit"> pay</button>
    </form>
</div>